html,
body{
  height: 100%;
}

body  {
  font-size: 16px;
  color: $default;
  @extend %dmsans-700;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  @extend %dmsans-700;
  line-height: 1.2;
  font-size: 36px;
  color: $accent;
}

.categories__btn {
  background-color: transparent;
  border: none;
  line-height: 1.2;
  color: #8b8b8b;
  @extend %dmsans-700;
}