body  {
  font-size: 16px;
  color: $default;
  @extend %dmsans-700;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}