$accent: #191919;
$default: #243f4d;
$title: #243f4d;
$bg: #fcd7b6;
$a: #262626;


%dmsans-400 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

%dmsans-500 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

%dmsans-700 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

%poppins-700 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  }

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%myriad-400{
  font-family: 'MyriadPro', sans-serif;
  font-weight: 400;
  }